@tailwind base;
@tailwind components;
@tailwind utilities;

.single-line-ellipsis {
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Hides the overflowed text */
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
